[mysqld]
## MySQL 기본 설정 -----------------------------------------------------------------------------
server-id                       = 1
port                            = 3306

log_timestamps                  = SYSTEM
sysdate-is-now
skip-ssl


pid-file                        = /var/run/mysqld/mysqld.pid
socket                          = /var/run/mysqld/mysqld.sock
datadir                         = /var/lib/mysql
log-error                       = /var/log/mysql/error.log

# By default we only accept connections from localhost
bind-address                    = 0.0.0.0
# Disabling symbolic-links is recommended to prevent assorted security risks
#symbolic-links                 = 0

# Connection
thread_cache_size               = 40
max_connections                 = 300
max_connect_errors              = 100
connect_timeout                 = 10
max_allowed_packet              = 16M
skip-name-resolve

# Character Set
character-set-server            = utf8mb4
character-set-filesystem        = utf8mb4
collation_server                = utf8mb4_unicode_ci
skip-character-set-client-handshake

# Buffer
sort_buffer_size                = 128K
read_buffer_size                = 128K
read_rnd_buffer_size            = 128K
join_buffer_size                = 128K
max_length_for_sort_data        = 1024

# Query Cache
query_cache_type                = 0
query_cache_size                = 0

# System Vaiable
sql-mode                        = "STRICT_TRANS_TABLES,NO_ZERO_DATE,NO_ENGINE_SUBSTITUTION,NO_AUTO_CREATE_USER"
explicit_defaults_for_timestamp = ON
event_scheduler                 = ON

# TMP, MemoryTable
max_heap_table_size             = 32M
tmp_table_size                  = 512K


## 로깅 옵션 -----------------------------------------------------------------------------------
pid-file                        = /var/run/mysqld/mysqld.pid

#log-warnings                   = 1
log-error                       = /var/log/mysql/error.log

general_log                     = OFF
general_log_file                = /var/log/mysql/general.log

#log_slow_admin_statements
slow-query-log                  = OFF
long_query_time                 = 1
slow_query_log_file             = /var/log/mysql/slow.log
performance_schema              = ON


## InnoDB 옵션 ----------------------------------------------------------------------------------
# InnoDB Setting
innodb_data_home_dir            = /var/lib/mysql
innodb_data_file_path           = ibdata1:12M:autoextend
innodb_log_group_home_dir       = /var/lib/mysql
innodb_log_files_in_group       = 3
innodb_log_file_size            = 1024M
innodb_log_buffer_size          = 8M
innodb_file_per_table           = ON
innodb_temp_data_file_path      = ibtmp1:12M:autoextend
#innodb_autoextend_increment    = 100

# InnoDB Buffer
#innodb_buffer_pool_instances   = 4
innodb_buffer_pool_size         = 300M
innodb_doublewrite              = OFF
innodb_sort_buffer_size         = 67108864

# InnoDB Undo
innodb_undo_directory           = /var/lib/mysql
#innodb_undo_logs               = 64
innodb_rollback_segments        = 128
#innodb_undo_tablespaces                = 0

# InnoDB Engine
sync_binlog                     = 0
innodb_flush_log_at_trx_commit  = 2
innodb_flush_method             = O_DIRECT
innodb_read_io_threads          = 4
innodb_write_io_threads         = 4
innodb_io_capacity              = 600
innodb_online_alter_log_max_size = 134217728
innodb_sync_spin_loops          = 10
innodb_lock_wait_timeout        = 10
innodb_adaptive_hash_index      = ON
innodb_purge_batch_size         = 20
innodb_status_output_locks      = ON
innodb_print_all_deadlocks      = ON


## MyISAM 옵션 ----------------------------------------------------------------------------------
key_buffer_size                 = 32M
key_cache_age_threshold         = 300
key_cache_block_size            = 1024
key_cache_division_limit        = 100
myisam_sort_buffer_size         = 1M
myisam_max_sort_file_size       = 2G
bulk_insert_buffer_size         = 10M
myisam_data_pointer_size        = 6
concurrent_insert               = 2
delay_key_write                 = ON

## 복제 옵션 ------------------------------------------------------------------------------------
# Master Server
log-bin                         = /var/lib/mysql/logs/binary_log
binlog_format                   = MIXED
log_bin_trust_function_creators = 1
binlog_checksum                 = CRC32
expire_logs_days                = 7
log-raw

# Slave Server
#relay-log                      = /data/mysql/logs/relay_log
#relay_log_purge                        = TRUE
#read_only

# Slave 이면서 다른 서버로 복제하는 마스터인 경우
#log-slave-updates